.float-cart {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  border-left: solid 1px #008000;
  transition: right 0.2s;

  &--open {
    right: 0;
  }

  &__close-btn {
    width: 50px;
    border: solid 1px #008000;
    height: 50px;
    color: #008000;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: -50px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: #008000;
    }
  }
  .bag {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: auto;
    position: relative;
    color: #fff;
    svg {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 50%;
      -ms-transform: translate(50%,-50%);
      transform: translate(50%,-50%);
    }
    &--float-cart-closed {
      position: absolute;
      background-color: #008000;
      background-size: 50%;
      left: -60px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      .bag__quantity {
        bottom: 5px;
        right: 10px;
      }
    }

    &__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #0c0b10;
      font-weight: bold;
      font-size: 0.7em;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      bottom: -5px;
      right: 0px;
    }
  }
  .big{
    color: #008000;

  }
  &__header {
    color: #000;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;
    .header-title {
      font-weight: bold;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  &__shelf-container {
    position: relative;
    min-height: 280px;
    padding-bottom: 200px;

    .shelf-empty {
      color: #000;
      text-align: center;
      line-height: 40px;
    }

    .shelf-item {
      position: relative;
      box-sizing: border-box;
      padding: 5%;

      transition: background-color 0.2s, opacity 0.2s;

      &::before {
        content: '';
        width: 90%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 5%;
      }

      &--mouseover {
        background: rgba(0, 0, 0, 0.2);

        .shelf-item__details {
          .title,
          .desc {
            text-decoration: line-through;
            opacity: 0.6;
          }
        }

        .shelf-item__price {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }
      &__del {
        width: 16px;
        height: 16px;
        top: 15px;
        right: 5%;
        color: #008000;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        cursor: pointer;
      }

      &__thumb,
      &__details,
      &__price {
        display: inline-block;
        vertical-align: middle;
      }

      &__thumb {
        vertical-align: middle;
        width: 15%;
        margin-right: 3%;

        img {
          width: 100%;
          height: auto;
        }
      }
      &__details {
        width: 57%;

        .title {
          color: #000;
          margin: 0;
        }

        .desc {
          color: #333;
          margin: 0;
        }
      }
      &__price {
        color: #008000;
        text-align: right;
        width: 25%;
      }
    }
  }

  &__footer {
    box-sizing: border-box;
    padding: 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    background-color: #fff;

    &::before {
      content: '';
      width: 100%;
      height: 20px;
      display: block;
      position: absolute;
      top: -20px;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    }

    .sub,
    .sub-price {
      color: #333;
      vertical-align: middle;
      display: inline-block;
    }

    .sub {
      width: 20%;
    }

    .sub-price {
      width: 80%;
      text-align: right;

      &__val,
      &__installment {
        margin: 0;
      }

      &__val {
        color: #008000;
        font-size: 22px;
      }
    }

    .buy-btn {
      color: #008000;
      border: solid 1px #008000;
      text-transform: uppercase;
      background-color: #fff;
      text-align: center;
      transition: all .3s;
      padding: 15px 0;
      margin-top: 40px;
      cursor: pointer;

      transition: background-color 0.2s;

      &:hover {
        color: #fff;
        background-color: #008000;
      }
    }
  }
}

/* MAC scrollbar para desktop*/
@media screen and (min-width: 640px) {
  .float-cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .float-cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10;
  }
}

.float-cart__content {
  height: 100%;
  overflow-y: scroll;
}
