.shelf-container {
  width: 100%;
  float: left;
  min-height: 600px;
  &-header {
    margin-bottom: 10px;
    height: 50px;
    padding: 5px;
    margin: 0 50px;
    .sort {
      float: right;

      select {
        background-color: #fff;
        outline: none;
        border: 1px solid #ececec;
        border-radius: 2px;
        margin-left: 10px;
        width: auto;
        height: 35px;
        cursor: pointer;

        &:hover {
          border: 1px solid #5b5a5e;
        }
      }
    }
  }

  .shelf-item {
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .shelf-item__buy-btn {
      background-color: #fff;
      border: solid 1px #008000;
      color: #008000;
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      .shelf-item__buy-btn {
        background-color: #008000;
        color: #fff;
      }
    }

    .shelf-stopper {
      position: absolute;
      color: #fff;
      top: 10px;
      right: 10px;
      padding: 5px;
      font-size: 0.6em;
      background-color: #008000;
      cursor: default;
    }

    &__thumb {
      img {
        height: 150px;
      }
    }

    &__title {
      position: relative;
      padding: 0 20px;
      height: 45px;

      &::before {
        content: '';
        width: 20px;
        height: 1px;
        background-color: #008000;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }
    }

    &__price {
      height: 60px;

      .val {
        b {
          font-size: 1.5em;
          margin-left: 5px;
        }
      }

      .product-details {
        color: #9c9b9b;
      }
    }

    &__buy-btn {
      background-color: #1b1a20;
      color: #fff;
      padding: 15px 0;
      margin-top: 10px;
      cursor: pointer;
      // border-bottom: 2px solid #151419;

      transition: background-color 0.2s;
    }
  }
}
